[submodule ".registry"]
	path = .registry
	url = https://github.com/francisbarton/francisbarton.r-universe.dev
	branch = HEAD
[submodule "boundr"]
	path = boundr
	url = https://codeberg.org/francisbarton/boundr
[submodule "dwpstat"]
	path = dwpstat
	url = https://github.com/dr-uk/dwpstat
	registered = false
[submodule "mapirosa"]
	path = mapirosa
	url = https://github.com/francisbarton/mapirosa
[submodule "msoahexmap"]
	path = msoahexmap
	url = https://github.com/francisbarton/msoahexmap
[submodule "shadowpop"]
	path = shadowpop
	url = https://codeberg.org/francisbarton/shadowpop
[submodule "tapioca"]
	path = tapioca
	url = https://github.com/francisbarton/tapioca
[submodule "xstatic"]
	path = xstatic
	url = https://github.com/francisbarton/xstatic
